page-appointment {
    p.heading {
        padding: 10px 16px;
        font-size: 1.3rem;
        color: #979797;
    }
    .doctor-list {
        .row {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 3px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        }
        .col {
            padding: 0;
            &.date {
                max-width: 70px;
                border-right: 1px solid #dfdfdf;
                small {
                    display: block;
                    color: #979797;
                    padding-top: 1px;
                    line-height: 1;
                }
                strong {
                    font-size: 3rem;
                    display: block;
                    line-height: 1;
                    font-weight: 500;
                    margin-bottom: 12px;
                }
            }
        }
    }
    .card {
        width: 100%;
        margin: 0;
        box-shadow: none;
        .item {
            ion-avatar {
                margin-top: 0;
                border:solid 1px #979797;
                border-radius:50%;
            }
            .label {
                margin-top: 0px;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    width: calc(100% - 25px);
                }
                p {
                    font-size: 1.15rem;
                    width: calc(100% - 25px);
                    color: #979797;
                }
                ion-icon {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                    padding: 1px 0px;
                    height: 30px;
                    color: #979797;
                }
            }
        }
        ion-card-content {
            color: #979797;
            font-size: 1.1rem;
            font-weight: 300;
            padding-bottom: 0;
        }
    }
}
