page-chatwithdoctor {
    p {
        font-size: 1.3rem;
        font-weight: 100;
        color: #979797;
        strong {
            color: #828282;
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
    .label {
        font-size: 1.3rem;
        span {
            position: absolute;
            background: #fff;
            right: 16px;
            width: calc(100% - 210px);
            text-align: right;
            line-height: 4rem;
            height: 100%;
            top: 0;
        }
    }
    .item {
        margin-bottom: 1px;
    }
    .list,
    .item-input,
    .item-inner {
        border: none ! important;
        box-shadow: none ! important;
    }
    .select {
        font-size: 1.3rem;
        min-width: 50%;
        max-width: 100%;
        font-weight: 500;
    }
    .text-input {
        text-align: right;
        font-size: 1.3rem;
    }
    ion-textarea {
        .text-input {
            text-align: left;
            font-size: 1.3rem;
            min-height: 90px;
        }
    }
    .fixed {
        position: fixed;
        z-index: 999;
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20px;
    }
}
