page-medicaldetail {
    .card {
        width: 100%;
        margin: 0 0 4px 0;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        .item {
            padding-top: 5px;
            padding-bottom: 5px;
            ion-avatar {
                width: 85px;
                height: 85px;
                img {
                    width: 85px;
                    height: 85px;
                    border-radius: 0;
                }
            }
            .label {
                margin: 0 8px 0 0;
                height: 85px;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                p {
                    font-size: 1.15rem;
                    color: #979797;
                }
                h6 {
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 2;
                    margin-top: 15px;
                    span {
                        display: block;
                        color: #6c6c6c;
                    }
                }
            }
        }
    }
    .overview {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 1px;
        .col {
            padding-left: 50px;
            position: relative;
            p {
                font-size: 1.1rem;
                margin: 0;
                color: #c4c4c4;
            }
            h2 {
                font-size: 1.1rem;
                font-weight: 700;
                margin-top: 5px;
                span {
                    color: #cdcdcd;
                }
            }
            h3 {
                font-size: 1.1rem;
                margin: 0;
            }
            img {
                position: absolute;
                margin-left: -27px;
                width: 10px;
                margin-top: 2px;
            }
        }
        .header {
            padding-left: 23px;
            padding-right: 23px;
            font-size: 1.1rem;
            font-weight: 500;
        }
        .map-location {
            position: relative;
            min-height: 125px;
            margin-top: 20px;
            ion-icon {
                position: absolute;
                z-index: 1;
                font-size: 3rem;
            }
        }
    }
    .fixed {
        position: fixed;
        bottom: 0;
        border-radius: 0;
        margin: 0;
        z-index: 999;
        width: 100%;
    }
}
