page-medicalmap {
    .toolbar-title {
        display: flex;
        align-items: center;
        span.location {
            display: block;
            margin-left: auto;
            position: relative;
            text-align: right;
            ion-select {
                max-width: 100% !important;
                margin: 0 !important;
                padding: 0;
                font-size: 1.5rem;
            }
        }
        .select-icon {
            width: 16px;
            .select-icon-inner {
                color: #fff;
            }
        }
    }
    .card {
        width: 320px;
        margin: 0px 2px;
        position: relative;
        z-index: 1;
        display: inline-block;
        &:hover {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) !important;
            z-index: 2;
        }
        .item {
            padding-top: 5px;
            padding-bottom: 5px;
            ion-avatar {
                width: 85px;
                height: 85px;
                img {
                    width: 85px;
                    height: 85px;
                    border-radius: 0;
                }
            }
            .label {
                margin: 0 8px 0 0;
                height: 85px;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                p {
                    font-size: 1.15rem;
                    color: #979797;
                }
                h6 {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-top: 20px;
                }
            }
        }
    }
    .card-container {
        position: fixed;
        width: 100%;
        bottom: 10px;
        left: 0;
        z-index: 99;
        overflow: hidden;
        overflow-x: auto;
        .card-row {
            width: 1650px;
        }
    }
    .location-point {
        ion-icon {
            position: absolute;
            font-size: 3rem;
            z-index: 1;
        }
    }
}
