page-profile {
    .item-inner {
        box-shadow: none !important;
        border: none !important;
    }
    ion-item-divider {
        .text-input {
            font-weight: 500;
            color: #000;
            text-align: right;
            padding-right: 1rem;
        }
    }
    .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px auto;
        position: relative;
        ion-icon {
            color: #fff;
            width: 30px;
            height: 30px;
            position: absolute;
            background: #d71e1e;
            top: 0;
            font-size: 1.4rem;
            right: 0;
            text-align: center;
            border-radius: 50%;
            line-height: 30px;
        }
    }
}
