page-account {
    .card {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        .item {
            .label {
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    width: calc(100% - 50px);
                }
                p {
                    font-size: 1.1rem;
                    width: calc(100% - 50px);
                    color: #979797;
                }
            }
            ion-avatar {
                min-width: 55px;
                min-height: 55px;
                img {
                    min-width: 55px;
                    min-height: 55px;
                    margin-top: 0px !important;
                }
            }
        }
    }
    .item {
        border: none !important;
        padding: .25rem 2rem;
        img {
            width: 22px;
            margin-top: -6px !important;
        }
        .item-inner {
            border: none !important;
            margin-left: 10px !important;
            padding-right: 0 !important;
            span {
                color: #3d3d3d;
                font-size: 1.5rem;
                font-weight: 600;
                small {
                    display: block;
                    margin-top: 3px;
                    color: #898989;
                    font-weight: 500;
                }
            }
            ion-icon {
                font-size: 1.5rem;
                color: #d1d1d1;
                margin: 0;
                top: 5px;
                position: relative;
            }
        }
    }
    ion-icon {
        margin: 0 !important;
        margin-right: 10px !important;
        top: -2px;
        position: relative;
        &.text-danger {
            font-size: 20px;
        }
    }
}
