page-blogs {
    .card {
        width: 100%;
        margin: 0 0 5px 0;
        ion-card-content {
            display: flex;
            img {
                width: 110px;
                height: 100px;
                margin-right: 12px;
            }
            .blog-text {
                p {
                    font-size: 1rem;
                    color: #cecece;
                    display: flex;
                    span {
                        margin-right: auto;
                        font-weight: 500;
                    }
                    ion-icon {
                        margin-left: auto;
                        font-size: 1.5rem;
                    }
                }
                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
