page-aboutus {
    .text-page {
        padding: 20px;
        .heading {
            font-size: 1.6rem;
            margin-bottom: 2rem;
            font-weight: 600;
        }
        p {
            font-size: 1.35rem;
            line-height: 2rem;
        }
    }
}
